fastapi
uvicorn[standard]
python-dotenv
requests
pandas
numpy
geopandas
shapely
rasterio
opencv-python-headless
albumentations
segmentation-models-pytorch
torch
earthengine-api
folium
matplotlib
groq
google-generativeai
supabase
twilio
sendgrid
apscheduler
